<body bgcolor="#f6f6f6" style="font-family: Arial, Helvetica, sans-serif; color:#000000;font-size: 10.5pt;">
  <table cellpadding="0" cellspacing="0" width="100%"
    style="background-color: #f6f6f6;padding: 0 7.5pt;margin: 0;width: 100%;">
    <tbody>
      <tr>
        <td>
          <table width="600" cellspacing="0" cellpadding="0" align="center"
            style="background-color: #f6f6f6;font-family: Arial, Helvetica, sans-serif; color:#000000;">
            <!-- Module Header -->
            <tr>
              <td style="height: 20px;">&nbsp;</td>
            </tr>
            <tr>
              <td>
                <table width="100%" cellpadding="0" cellspacing="0" valign="middle" style="vertical-align: middle;">
                  <tr>
                    <td style="width: 30px;">&nbsp;</td>
                    <td height="50" style="height: 50px;"><img src="frontendurl/HPE_eNewsletter_logo.png" border="0"
                        style="font-weight: bold;font-size: 9pt;font-family: Arial, Helvetica, sans-serif; color:#000000;"
                        align="left" vspace="0" hspace="0" width="119" height="50" alt="HPE Insider" /></td>
                    <td width="421" align="right"><span
                        style="text-align: right;font-weight: bold;font-size: 10.5pt;font-family: Arial, Helvetica, sans-serif; color:#000000; line-height: 12pt; ">
                        HPE Z+ Security </span><br />

                      <!--  <span style="text-align: right;font-weight: normal;font-size: 10.5pt;font-family: Arial, Helvetica, sans-serif; color:#000000; line-height: 12pt; "> Header subtitle in Arial 10.5pt </span>-->
                    </td>
                    <td style="width: 30px;">&nbsp;</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="height: 20px;">&nbsp;</td>
            </tr>

            <!-- Module Feature Image -->
            <tr>
              <td>
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <table width="100%" cellspacing="0" cellpadding="0">
                        <tr>
                          <td><img src="frontendurl/banner.jpg" align="left" vspace="0" hspace="0" border="0"
                              width="600">
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <!-- Module Newsletter Feature  -->
            <tr>
              <td>
                <table width="100%" cellpadding="30" cellspacing="0" border="0" bgcolor="#ffffff">
                  <tr>
                    <td>
                      <table width="100%" cellpadding="0" cellspacing="0" align="left"
                        style="padding: 0;text-align: left;">
                        <tr>
                          <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                              <tr>
                                <td colspan="2">
                                  <p style="text-align: left;"> <span
                                      style="font-family:Arial,Helvetica,sans-serif; line-height: 16pt;font-size:14pt;">
                                      <strong> Dear --user--, </strong> </span> </p>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td style="height: 10px">&nbsp;</td>
                        </tr>
                        <tr>
                          <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                              <tr>
                                <td>
                                  <p style="text-align: left;"> <span
                                      style="font-family:Arial,Helvetica,sans-serif; line-height: 16pt;font-size:14pt;">
                                    </span> </p>
                                  <p style="text-align: left;"> <span
                                      style="font-family:Arial,Helvetica,sans-serif; line-height: 16pt;font-size:14pt;">
                                    </span> </p>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding-top: 20px;">
                                  <h3 style="text-align: left;"> <span
                                      style="font-family:Arial,Helvetica,sans-serif; line-height: 16pt;font-size:14pt;">
                                      Welcome to Z+! We're thrilled to have you as part of our community.
                                      <br>
                                      <br>
                                      To complete your registration, please use the following 6-digit verification code:
                                      <br>
                                      <br>
                                      --code--</span> </h3>
                                  <br>
                                  <br>
                                  <h4 style="text-align: left;">If you have any questions or need assistance, feel free
                                    to reach out.</h4>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td height="30" style="height: 30px">&nbsp;</td>
                        </tr>
                        <tr>
                          <td>
                            <table cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td><img border="0" src="frontendurl/HPE_eNewsletter_cta_left.png" align="left"
                                      vspace="0" hspace="0" style="padding:0;" width="20" height="42" alt="" /></td>
                                  <td style="background-color:#00a982; padding: 0px">
                                    <p style="text-align:center"> <a href="frontendloginpage"
                                        style="background-color: #01a982; border: 0pt solid #01a982; color: #FFFFFF;font-family:Arial,sans-serif; font-size:12pt;line-height: 42px; font-weight: bold;text-decoration: none;"
                                        target="_blank"> Login to Your Account </a> </p>
                                  </td>
                                  <td><img border="0" src="frontendurl/HPE_eNewsletter_cta_right.png" align="left"
                                      vspace="0" hspace="0" style="padding:0;" width="96" height="42" alt="" /></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="height: 20px;">&nbsp;</td>
            </tr>

            <!-- Module Footer -->
            <tr>
              <td>
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <th width="400" align="left" style="vertical-align:top; padding:0 30px;">
                      <table width="100%" cellpadding="0" cellspacing="0" align="left">
                        <tr>
                          <td style="text-align:left"><span
                              style="font-weight: normal;font-size: 9pt;font-family: Arial, Helvetica, sans-serif; color:#000000; padding:0 0 7.5pt;text-align: left;line-height: 10.5pt;">
                              &copy; 2023 Hewlett Packard Enterprise Development LP <br />
                              <br />
                              HPE Internal Use Only </span></td>
                        </tr>
                      </table>
                    </th>
                    <th width="150" align="left" style="vertical-align:top; padding:0 30px;">
                      <table align="right" cellpadding="0" cellspacing="0">
                        <tr>
                          <td><span style="line-height:0; padding:2.25pt 0 0;"> <a title="HPE Insider" target="_blank"
                                style="text-decoration:none;" href="https://home.hpe.com/"><img
                                  src="frontendurl/HPE_eNewsletter_icon_home.png" border="0"
                                  style="font:9pt/11pt Arial, Helvetica, sans-serif; color:#000000;" align="left"
                                  vspace="0" hspace="0" width="20" height="20" alt="HPE Insider" /></a> </span></td>
                          <td style="width: 7.5pt;"><span>&nbsp;</span></td>
                          <td><span style="line-height:0; padding:2.25pt 0 0;"> <a title="LinkedIn" target="_blank"
                                style="text-decoration:none;"
                                href="https://www.linkedin.com/company/hewlett-packard-enterprise"><img
                                  src="frontendurl/HPE_eNewsletter_icon_in.png" border="0"
                                  style="font:9pt/11pt Arial, Helvetica, sans-serif; color:#000000;" align="left"
                                  vspace="0" hspace="0" width="20" height="20" alt="in" /></a> </span></td>
                          <td style="width: 7.5pt;"><span>&nbsp;</span></td>
                          <td><span style="line-height:0; padding:2.25pt 0 0;"> <a title="Twitter" target="_blank"
                                style="text-decoration:none;" href="http://www.twitter.com/HPE"><img
                                  src="frontendurl/HPE_eNewsletter_icon_tw.png" border="0"
                                  style="font:9pt/11pt Arial, Helvetica, sans-serif; color:#000000;" align="left"
                                  vspace="0" hspace="0" width="20" height="20" alt="tw" /></a> </span></td>
                          <td style="width: 7.5pt;"><span>&nbsp;</span></td>
                          <td><span style="line-height:0; padding:2.25pt 0 0;"> <a title="Facebook" target="_blank"
                                style="text-decoration:none;"
                                href="http://www.facebook.com/HewlettPackardEnterprise"><img
                                  src="frontendurl/HPE_eNewsletter_icon_fb.png" border="0"
                                  style="font:9pt/11pt Arial, Helvetica, sans-serif; color:#000000;" align="left"
                                  vspace="0" hspace="0" width="20" height="20" alt="fb" /></a> </span></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</body>